*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

:root {
  --Purple-50: hsl(260, 100%, 95%);
  --Purple-300: hsl(264, 82%, 80%);
  --Purple-500: hsl(263, 55%, 52%);
  --White: hsl(0, 0%, 100%);
  --Grey-100: hsl(214, 17%, 92%);
  --Grey-200: hsl(0, 0%, 81%);
  --Grey-400: hsl(224, 10%, 45%);
  --Grey-500: hsl(217, 19%, 35%);
  --Dark-blue: hsl(219, 29%, 14%);
  --Black: hsl(0, 0%, 7%);
}

html {
  font-size: 13px;
  font-family: 'Barlow Semi Condensed', 'sans', 'Arial', 'Times';

}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: var(--Grey-100);
}

main {
  display: flex;
  margin: 5rem 0;
  flex-flow: column nowrap;
  gap: 2rem;
  font-weight: 500;
}

main div {
  width: clamp(300px, 80%, 450px);
  margin: 0 auto;
  padding: 2.5rem 2rem;
  border-radius: 0.8rem;
  box-shadow: 2rem 2rem 1rem 0 var(--Grey-200);

}

main div p {
  font-size: 1.5rem;
  margin: 1.2rem 0;
  line-height: 2rem;
  font-weight: 600;

}

main div blockquote {
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: 500;
}

.header_avatar {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  align-items: center;
}

.header_avatar img {
  width: 2.7rem;
  border-radius: 100%;
  border: 0.2rem solid;
}

.title_text {
  display: inline-block;
  margin-left: 1.2rem;
  font-size: 0.9rem;
}

.title_text h2 {
  display: block;
  font-weight: 600;
  font-size: 1.1rem;
}

main div:nth-child(1) {
  background-color: var(--Purple-500);
  color: var(--White);
}

main div:nth-child(1) .header_avatar img {
  border-color: var(--Purple-300);
}

main div:nth-child(1) blockquote,
main div:nth-child(1) .title_text {
  color: var(--Purple-50);
}

main div:nth-child(1) .title_text h2 {
  color: var(--White);
}


main div:nth-child(2) {
  background-color: var(--Grey-500);
}

main div:nth-child(2) .header_avatar img {
  border-color: var(--White);
}

main div:nth-child(2) blockquote,
main div:nth-child(2) .title_text {
  color: var(--Grey-200);
}

main div:nth-child(2) .title_text h2 {
  color: var(--White);
}

main div:nth-child(2) p {
  color: var(--White);

}

main div:nth-child(3) {
  background-color: var(--White);
}

main div:nth-child(3) .header_avatar img {
  border-color: var(--White);
}

main div:nth-child(3) blockquote,
main div:nth-child(3) .title_text {
  color: var(--Grey-400);
}

main div:nth-child(3) .title_text h2 {
  color: var(--Grey-500);
}

main div:nth-child(3) p {
  color: var(--Grey-500);
}

main div:nth-child(4) {
  background-color: var(--Dark-blue);

}

main div:nth-child(4) .header_avatar img {
  border-color: var(--Purple-500);
}

main div:nth-child(4) blockquote,
main div:nth-child(4) .title_text {
  color: var(--Grey-200);
}

main div:nth-child(4) .title_text h2 {
  color: var(--White);
}

main div:nth-child(4) p {
  color: var(--White);

}

main div:nth-child(5) {
  background-color: var(--White);
}

main div:nth-child(5) .header_avatar img {
  border-color: var(--White);
}

main div:nth-child(5) blockquote,
main div:nth-child(5) .title_text {
  color: var(--Grey-500);
}

main div:nth-child(5) .title_text h2 {
  color: var(--Dark-blue);
}

main div:nth-child(5) p {
  color: var(--Dark-blue);

}

@media screen and (min-width: 768px) {

  html {
    font-size: 14px;
  }

  main div {
    width: clamp(450px, 80%, 600px);
  }

  main div:nth-child(1) {
    position: relative;
    z-index: -1;

  }

  main div:nth-child(1)>img {
    display: inline-block;
    position: absolute;
    right: 5rem;
    top: 0.5rem;
    z-index: 0;
  }

  main div:nth-child(1) .header_avatar,
  main div:nth-child(1) p,
  main div:nth-child(1) blockquote {
    position: relative;
    z-index: 1;
  }

}

@media screen and (min-width: 1024px) {

  *,
  *::after,
  *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

  }

  body {
    width: 100dvw;
    min-height: 100dvh;
    display: grid;
    place-items: center;
  }

  html {
    font-size: 13px;
  }

  main {
    width: clamp(800px, 80%, 1100px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1fr, 2);
    grid: 1rem;
    margin-top: 10rem;
  }

  main div {
    width: auto;
  }

  main div:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  main div:nth-child(2) {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  main div:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  main div:nth-child(4) {
    grid-column: 2/4;
    grid-row: 2/3;
  }

  main div:nth-child(5) {
    grid-column: 4/5;
    grid-row: 1/3;
  }

  .attribution {
    margin-bottom: 10rem;
  }
}